/**/.cache
/**/.ipynb_checkpoints
/**/.ipython
/**/.jupyter
/**/.local
/**/.npm
/**/.keras
/**/.config
/**/__pycache__
/_stats
/.vscode
/**/.venv
/**/prod
/_cat_shards_**.json
/_stats_**.json
/_nodes_usage_**.json
script_log.txt
.env
pyvenv.cfg